<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="OpenNETCF" publicKeyToken="E60DBEA84BB431B7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.39" newVersion="2.3.0.39"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
